
.cm-slideshow p {
    margin: 0;
}
.cm-slideshow .slide-image a {
    position: absolute;
    inset: 0;
    z-index: 1;
}


.cm-slideshow .page-width {
    padding-left: 0;
    padding-right: 0;
}

.cm-slideshow .swiper-box {
    position: relative;
    border-radius: 0;
    overflow: hidden;
    transform: translateZ(0);
}

.cm-slideshow .swiper-buttons {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.cm-slideshow .swiper-buttons .swiper-button-prev, .cm-slideshow .swiper-buttons .swiper-button-next {
    position: static;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #fafafa;
    background-color: #fafafa;
}
.cm-slideshow .swiper-button-next:after, .cm-slideshow .swiper-button-prev:after {
    display: none;
}
.cm-slideshow .swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 5px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity:0.2;
    border-radius: 5px;
}
.cm-slideshow .swiper-pagination-bullet.swiper-pagination-bullet-active {
    --swiper-pagination-color:#000;
}


.cm-slideshow .swiper-box .content {
    height: 100%;
    inset: 0;
    padding: 36px 24px;
    pointer-events: none;
    position: absolute;
    z-index: 1
}

.cm-slideshow .swiper-box .content .content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.cm-slideshow .swiper-box .content .content-container {
    max-width: var(--content-area-width-mb);
    width: 100%;
    pointer-events: all;
}
.cm-slideshow .swiper-box .content .slide_block_item {
    text-align: var(--content-align-mb);
}
.cm-slideshow .slide_block_item + .slide_block_item {
    margin-top: 16px;
}


.cm-slideshow .sale_label-inner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 12px;
    color: var(--sale-label-color-mb);
    background: var(--sale-label-bg-mb);
    border-radius: 32px;
    font-size: 10px;
}

.cm-slideshow .slide_title-inner {
    font-size: var(--slide-title-font-size-mb);
    font-weight: 700;
    color: var(--text-color-mb);
    line-height: 1.1;
}

.cm-slideshow .slide_info {
    color: var(--text-color-mb);
    line-height: 1.2;
    font-size: 14px;
}

.cm-slideshow .slide_button .mf-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: var(--slide-button-bg-mb);
    color: var(--slide-button-color-mb);
    padding: 6px 24px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.cm-slideshow .slide_button.slide_block_item {
    margin-top: 32px;
}



@media (max-width:989px) {
    .cm-slideshow .swiper-box .content [data-content-position-mb=left_top] {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .cm-slideshow .swiper-box .content [data-content-position-mb=left_center] {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .cm-slideshow .swiper-box .content [data-content-position-mb=left_bottom] {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .cm-slideshow .swiper-box .content [data-content-position-mb=center_top] {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .cm-slideshow .swiper-box .content [data-content-position-mb=center_center] {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .cm-slideshow .swiper-box .content [data-content-position-mb=center_bottom] {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .cm-slideshow .swiper-box .content [data-content-position-mb=right_top] {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .cm-slideshow .swiper-box .content [data-content-position-mb=right_center] {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .cm-slideshow .swiper-box .content [data-content-position-mb=right_bottom] {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
}

@media (min-width:990px) {

    .cm-slideshow .swiper-box {
        border-radius: 12px;
    }

    .cm-slideshow .swiper-box .content {
        padding: 48px 140px
    }
    
    .cm-slideshow .swiper-box .content .content-container {
        margin: unset;
        max-width: var(--content-area-width)
    }

    .cm-slideshow .swiper-box .content [data-content-position=left_top] {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .cm-slideshow .swiper-box .content [data-content-position=left_center] {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .cm-slideshow .swiper-box .content [data-content-position=left_bottom] {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .cm-slideshow .swiper-box .content [data-content-position=center_top] {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .cm-slideshow .swiper-box .content [data-content-position=center_center] {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .cm-slideshow .swiper-box .content [data-content-position=center_bottom] {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .cm-slideshow .swiper-box .content [data-content-position=right_top] {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .cm-slideshow .swiper-box .content [data-content-position=right_center] {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .cm-slideshow .swiper-box .content [data-content-position=right_bottom] {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .cm-slideshow .swiper-box .content .slide_block_item {
        text-align: var(--content-align);
    }

    .cm-slideshow .sale_label-inner {
        color: var(--sale-label-color);
        background: var(--sale-label-bg);
        font-size: 12px;
    }
    
    .cm-slideshow .slide_title-inner {
        font-size: var(--slide-title-font-size);
        color: var(--text-color);
    }
    
    .cm-slideshow .slide_info {
        color: var(--text-color);
        line-height: 1.3;
        font-size: 16px;
    }
    
    .cm-slideshow .slide_button .mf-btn {
        font-size: 16px;
        background-color: var(--slide-button-bg);
        color: var(--slide-button-color);
        padding: 8px 32px;
    }
    .cm-slideshow .slide_button .mf-btn:hover {
        opacity: 0.8;
    }
}